h1 {
    color: orange;
    background-color: slategray;
    text-align: center;
}

p {
    color: blue;
}

/* #cid {
    color: blue;
    background-color: transparent;
} */

.content {
    color: black;
    background-color: transparent;
}

ul{
    border-style: solid;
    border-color: crimson;
    border-width: 4px;
}